body {
  background: pink
}
h1 {
  text-align: center;
}
,caixa1 {
  position: relative;
  background: blue



}
.menuPrincipal {
  position: absolute;
  background-color: rgb(157, 230, 123);
  width: 100%;
  
  top: 0%;
}
